@import "tailwindcss";

@theme {
  --animate-scale: scaleUpDown 400ms ease-in-out infinite alternate;

  @keyframes scaleUpDown {

    from {
      transform: scale(0.98);
    }

    to {
      transform: scale(1.01);
    }
  }

  --animate-slide-in-up: slideInUp 0.3s ease-out;

  @keyframes slideInUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}