@import "tailwindcss";

@theme {
  --animate-scale: scaleUpDown 400ms ease-in-out infinite alternate;

  @keyframes scaleUpDown {

    from {
      transform: scale(0.98);
    }

    to {
      transform: scale(1.01);
    }
  }
}